services:
  easyapo-watai:
    build: .
    container_name: smartcall-easyapo-watai
    env_file:
      - .env
    environment:
      - KEEP_ALIVE_INTERVAL_MS=${KEEP_ALIVE_INTERVAL_MS:-600000}
    ports:
      - "3011:3000"
    volumes:
      - ./screenshots/watai:/app/screenshots
      - ./input:/app/input
      - ./output:/app/output
    restart: unless-stopped
    command: ["npm", "run", "start"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  easyapo-konishi:
    build: .
    container_name: smartcall-easyapo-konishi
    env_file:
      - .env
    environment:
      - KEEP_ALIVE_INTERVAL_MS=${KEEP_ALIVE_INTERVAL_MS:-600000}
    ports:
      - "3012:3000"
    volumes:
      - ./screenshots/konishi:/app/screenshots
      - ./input:/app/input
      - ./output:/app/output
    restart: unless-stopped
    command: ["npm", "run", "start"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
